html{
	font-family: tahoma;
	background: #2B2B2B;
	overflow: none;
	}
body{
	margin: 0px;
	overflow: hidden;
}
.vBlock{
	height: 100%;
	width: 20%;
	float: left;
	text-align: center;
	position: relative;
	z-index: 10;
}
/*.wrapper{padding: 20px;}*/
.vBlock .weather_ico{
	width: 60px;
	height:60px;
	margin: 0 auto;
}

#night{
	background: rgba(0,0,20,0.4);
    pointer-events: none;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 100;
}
.nums, h3{
	font-size: 40px;
	color: white;
	text-shadow:
    -1px -1px 0 #2B9AB4,
    1px -1px 0 #2B9AB4,
    -1px 1px 0 #2B9AB4,
    1px 1px 0 #2B9AB4;
}

h3{
	font-size: 20px;
}
#col5{background: rgb(255,99,71);}
#col4{background: rgb(255,110,75);}
#col3{background: rgb(255,121,79);}
#col2{background: rgb(255,132,83);}
#col1{background: rgb(255,143,87);}

#selLoc, #selArea{
	width: 80%;
}

#locSelect{
	position: absolute;
	width: 500px;
	height: 60px;
	background: black;
	bottom: 0px;
	left: 0px;
	z-index: 200;
	opacity: 0.7;
	padding: 20px;
}

#error{
	width: 500px;
	margin: 300px auto;
	padding: 30px;
	text-align: center;
	background: #FF5B5B;
	border: solid 2px #B23030;
	color: #510000;
}

#subLoc{
	color: black;
	padding: 4px;
	background: white;
	border: solid 1px black;
	border-radius: 3px;
	cursor: pointer;
}
#subLoc:hover{
	background: #545454;
	color: white;
}

.wind{
	width: 50px;
	height: 37px;
	overflow: hidden;
	text-align: center;
	padding-top: 13px;
	margin: 0 auto;
}
.wind span{
	position: relative;
	z-index: 100;
}
.windBG{
	width: 50px;
	height: 50px;
	background: url('../media/ico/wind.png');
	background-size: 50px 50px;
	position: relative;
	z-index: 99;
	margin-top: -35px;
}
#spread{
	width: 100%;
	text-align: center;
	font-size: 200px;
	opacity: 0.2;
	position: fixed;
	z-index: 120;
	margin-top: 400px;
	float: left;
	 pointer-events:none;
	 background:none !important;
	height: 100px;
	overflow: none;
}
.windBG.N{transform: rotate(315deg); -webkit-transform: rotate(315deg);}
.windBG.NNE{transform: rotate(330deg); -webkit-transform: rotate(330deg);}
.windBG.NE{transform: rotate(350deg); -webkit-transform: rotate(350deg);}
.windBG.ENE{transform: rotate(365deg); -webkit-transform: rotate(365deg);}
.windBG.E{transform: rotate(40deg); -webkit-transform: rotate(40deg);}
.windBG.ESE{transform: rotate(60deg); -webkit-transform: rotate(60deg);}
.windBG.SE{transform: rotate(80deg); -webkit-transform: rotate(80deg);}
.windBG.SSE{transform: rotate(110deg); -webkit-transform: rotate(110deg);}
.windBG.S{transform: rotate(135deg); -webkit-transform: rotate(135deg);}
.windBG.SSW{transform: rotate(160deg); -webkit-transform: rotate(160deg);}
.windBG.SW{transform: rotate(180deg); -webkit-transform: rotate(180deg);}
.windBG.WSW{transform: rotate(200deg); -webkit-transform: rotate(200deg);}
.windBG.W{transform: rotate(225deg); -webkit-transform: rotate(225deg);}
.windBG.WNW{transform: rotate(240deg); -webkit-transform: rotate(240deg);}
.windBG.NW{transform: rotate(255deg); -webkit-transform: rotate(255deg);}
.windBG.NNW{transform: rotate(280deg); -webkit-transform: rotate(280deg);}

@media only screen and (max-width: 640px) {
	.vBlock{
		width: 100%;
		height: 150px;
	}
	.vBlock .weather_ico{
		float: left;
	}
	.temp{
		float: right;
	}
	.tempGroup{
		margin: 0 10px;
		text-align: center;
	}
	#locSelect{
		width: 100%;
		position: relative;
		background: none;
		z-index: 10;
		float: left;
		text-align: center;
		padding: 20px 0 20px 0;
	}
	#selLoc, #selArea{
		width: 90%;
		margin-bottom: 10px;
	}
	#subLoc{
		padding: 0px 30% 0px 30%;
	}
	body{
		overflow-y: scroll;
	}
	.wind{
		margin: -80px 10px;
	}
	#spread{
		width: 100%;
		font-size: 40px;
		top: -350px;
	}

}
@media only screen and (max-width: 370px) {
	.nums, h3{
		font-size: 20px;
	}
}